body {
  background: #f4eee8;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}

h1,
h2 {
  padding: 10px;
}

form {
  display: block;
  margin: auto;
  padding-top: 40px;
  margin-top: 30px;
}

.mikaWeatherApp {
  display: block;
  margin: auto;
  background: #fff;
  max-width: 690px;
  font-family: "Lato", sans-serif;
  border-radius: 14px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
